# Single Sign-On with a SAML Provider

Any identify provider that supports SAML 2.0 can be used to authorize access to your Buildkite organization. If there isn't a Buildkite guide for your chosen provider, you can set up SAML using the instructions below.

<%= toc %>

## Step 1. Set up your provider

There are two ways to set up your custom provider: using the Buildkite meta-data XML to your identity provider, or manually adding your Buildkite data into your identity provider. 

After setting up your provider, you'll need to set up your SSO provider in your Buildkite organization's Single Sign On Settings.

<div class="Docs__note">
  <p>You can also set up SSO providers manually with GraphQL. See the <a href="/docs/integrations/sso/sso-setup-with-graphql">SSO Setup with GraphQL Guide</a> for detailed instructions and code samples.</p>
</div>

## Option A - Setting up your IdP using a meta-data URL or ACS URL

A custom URL containing your organization's meta-data is available to help you complete your IdP's setup. This option will also generate an ACS URL for IdPs which require that during setup.

Click the Buildkite Organization Settings' Single Sign On menu item, then choose the Custom SAML provider from the available options:

<%= image "sso-settings.png", width: 1458/2, height: 926/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

Choose the 'Provide IdP Metadata Later' option when configuring your Custom SAML Provider:

On the following screen you'll find the meta-data URL in the Service Provider section:

<%= image "service-provider-urls.png", width: 1768/2, height: 412/2, alt: "Screenshot of the Service Provider section in the Custom SAML SSO Provider details page" %>

The custom endpoint contains all the information you need to set up SAML with any provider.

After completing your IdP setup, you'll need to complete your Buildkite SSO Proivder's configuration. Proceed to [Step 2. Option A - Update your SSO Provider in Buildkite](#option-a-update-your-existing-sso-provider).

## Option B - Setting up your IdP manually

Manual setup is different for each provider, however it usually requires the following fields:

<table>
    <tr>
        <td>Single Sign-On URL</td>
        <td>
            Your unique SSO service URL from Buildkite that will be sending requests to your identity provider. 
        </td>
    </tr>
    <tr>
        <td>Entity Identifier</td>
        <td>
            https://buildkite.com  
        </td>
    </tr>
    <tr>
        <td>Name ID</td>
        <td>
            The field used to identify users.
            Email Address.
        </td>
    </tr>
</table>

If your IdP requires an ACS URL, follow the instructions in Option A to generate one.

If your custom provider needs further information, please email support@buildkite.com.

## Step 2. Configure a Buildkite SSO Provider

## Option A - Update your existing SSO Provider

If you haven't done so already, create a Custom SAML Provider. In your Buildkite Organization Settings' Single Sign On menu item, choose the Custom SAML provider:

<%= image "sso-settings.png", width: 1458/2, height: 926/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

On the following screen you can choose to either set up using a Meta Data URL from your IdP, an XML file, or by entering the following 3 fields:

<table>
    <tr>
        <td>SAML 2.0 Endpoint (HTTP)</td>
        <td>
            The SAML endpoint for your chosen provider.
        </td>
    </tr>
    <tr>
        <td>Issuer URL</td>
        <td>
            The identifing URL of your chosen provider.  
        </td>
    </tr>
    <tr>
        <td>X.509 certificate</td>
        <td>
            The public key certificate for your chosen provider.
        </td>
    </tr>
</table>

<%= image "custom-saml-settings.png", width: 1746/2, height: 926/2, alt: "Screenshot of the Buildkite Custom SAML Settings Page" %>

If you already have an SSO Provider, select it from the list of Configured SSO Providers. Click the 'Edit Settings' button, and choose an option for entering your meta-data:



## Option B - Create a new SSO Provider

Click the Buildkite Organization Settings' Single Sign On menu item, then choose the Custom SAML provider from the available options:

<%= image "sso-settings.png", width: 1458/2, height: 926/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

Choose how you'd like to configure your Custom SAML Provider:



## Step 3. Perform a Test Login

Follow the instructions to perform a test login. Performing a test login will verify that SSO is working correctly before you activate it for your organization members.

## Step 4. Enable the new SSO Provider

Once you've performed a test login you can enable your provider. Activating SSO will not force a log out of existing users, but will cause all new or expired sessions to authorize through your provider before organization data can be accessed.

If you need to edit or update your provider settings at any time, you will need to disable the provider first. For more information on disabling a provider, see the [disabling SSO](/docs/integrations/sso#disabling-and-removing-sso) section of the SSO overview.

## SAML User Attributes

Buildkite accepts a subset of the SAML attributes from identity providers. The accepted attributes are:

<table>
    <tr>
        <th>
            Attribute
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>
            <code>admin</code>
        </td>
        <td>
            A boolean value that describes whether the user should be provisioned with admin permissions<br>
            <em>Example:</em> true
        </td>
    </tr>
    <tr>
        <td>
            <code>email</code>
        </td>
        <td>
            A string of the user's email address<br>
            <em>Example:</em> "person@company.com"
        </td>
    </tr>
    <tr>
        <td>
            <code>name</code>
        </td>
        <td>
            A string of the user's full name<br>
            <em>Example:</em> "Han Solo"
        </td>
    </tr>
    <tr>
        <td>
            <code>teams</code>
        </td>
        <td>
            A comma separated list of team UUIDs. A team's UUID can be found on the Team Settings page in Buildkite.<br>
            <em>Example:</em> <code>a1aaaa1a-b2bb-cccc-d4dd-aa2aaa6aaaaa,b5bbbbbb-3aaa-dd1d-aaa1-eee4eee6eeee</code>
        </td>
    </tr>
</table>

When using the `teams` attribute, you can also specify roles. The `maintainer` or `member` role can be appended to the team UUID. 

For example, the following code will specify the member role for the first team and the maintainer role for the second team:

```
teams="b5bbbbbb-3aaa-dd1d-aaa1-eee4eee6eeee/member, a1aaaa1a-b2bb-cccc-d4dd-aa2aaa6aaaaa/maintainer"
```

