# Single Sign-On with a SAML Provider

You can use any identify provider that supports SAML 2.0 to authorize access to your Buildkite organization. If there isn't a Buildkite guide for your chosen provider, you can set up SAML using the instructions below.

{:toc}

There are two workflows for setting up a new SAML provider, depending on your IdP's setup process: if you require an ACS URL from Buildkite to complete your IdP's setup, or if you can complete the setup without anything from Buildkite.

<div class="Docs__note">
  <p>You can also set up SSO providers manually with GraphQL. See the <a href="/docs/integrations/sso/sso-setup-with-graphql">SSO Setup with GraphQL Guide</a> for detailed instructions and code samples.</p>
</div>

## Set up with an ACS URL

If your IdP requires information from Buildkite as part of the setup process, generate your unique Buildkite URLs first and enter the rest of your IdP information later.

### Get your ACS URL and configure your IdP

Click the Buildkite Organization Settings' _Single Sign On_ menu item, then choose the Custom SAML provider from the available options:

<%= image "sso-settings.png", width: 1716/2, height: 884/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

Choose the _Provide IdP Metadata Later_ option when configuring your Custom SAML Provider. On the following screen you'll find the ACS URL in the _Service Provider_ section:

<%= image "service-provider-urls.png", width: 1768/2, height: 412/2, alt: "Screenshot of the Service Provider section in the Custom SAML SSO Provider details page" %>

If you IdP supports meta-data URL setup, you can find your unique Buildkite organization meta-data URL below the ACS URL.

### Update your Buildkite SAML provider

In your Buildkite _Single Sign On_ menu, select your custom SAML provider from the list of _Configured SSO Providers_.

Click the _Edit Settings_ button, and choose an option for entering your IdP's information: a meta-data URL from your IdP, an XML file from your IdP, or by entering the data manually.

Manual data entry requires the following three fields:

<table>
    <tr>
        <td>SAML 2.0 Endpoint (HTTP)</td>
        <td>
            The SAML endpoint for your chosen provider.
        </td>
    </tr>
    <tr>
        <td>Issuer URL</td>
        <td>
            The identifying URL of your chosen provider.
        </td>
    </tr>
    <tr>
        <td>X.509 certificate</td>
        <td>
            The public key certificate for your chosen provider.
        </td>
    </tr>
</table>

<%= image "custom-saml-settings.png", width: 1746/2, height: 926/2, alt: "Screenshot of the Buildkite Custom SAML Settings Page" %>

After completing your chosen option, [Perform a test login](#perform-a-test-login), then [Enable the new SSO provider](#enable-the-new-sso-provider).

## Set up manually

There are two ways to set up your custom provider: using your Buildkite meta-data XML URL, or manually adding your Buildkite data into your identity provider.

### Set up your IdP

Manual setup is different for each provider, however it usually requires the following fields:

<table>
    <tr>
        <td>Single Sign-On URL</td>
        <td>
            Your unique SSO service URL from Buildkite that will be sending requests to your identity provider.
        </td>
    </tr>
    <tr>
        <td>Entity Identifier</td>
        <td>
            https://buildkite.com
        </td>
    </tr>
    <tr>
        <td>Name ID</td>
        <td>
            The field used to identify users.
            Email Address.
        </td>
    </tr>
</table>

If your IdP requires an ACS URL before it will provide the above information, follow the instructions in the [Set up with an ACS URL](#set-up-with-an-acs-url) section to generate one.

If your custom provider needs further information, please email [support@buildkite.com](mailto:support@buildkite.com).

### Create a Buildkite SAML provider

Click the Buildkite Organization Settings' _Single Sign On_ menu item, then choose the custom SAML provider from the available options:

<%= image "sso-settings.png", width: 1716/2, height: 884/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

Choose an option for entering your IdP's information: a meta-data URL from your IdP, an XML file from your IdP, or by entering the data manually.

Manual data entry requires the following three fields:

<table>
    <tr>
        <td>SAML 2.0 Endpoint (HTTP)</td>
        <td>
            The SAML endpoint for your chosen provider.
        </td>
    </tr>
    <tr>
        <td>Issuer URL</td>
        <td>
            The identifying URL of your chosen provider.
        </td>
    </tr>
    <tr>
        <td>X.509 certificate</td>
        <td>
            The public key certificate for your chosen provider.
        </td>
    </tr>
</table>

<%= image "custom-saml-settings.png", width: 1746/2, height: 926/2, alt: "Screenshot of the Buildkite Custom SAML Settings Page" %>

After completing your chosen option, [Perform a test login](#perform-a-test-login), then [Enable the new SSO provider](#enable-the-new-sso-provider).

## Perform a test login

Follow the instructions on the provider page to perform a test login. Performing a test login will verify that SSO is working correctly before you activate it for your organization members.

## Enable the new SSO provider

Once you've performed a test login you can enable your provider. Activating SSO will not force a log out of existing users, but will cause all new or expired sessions to authorize through your provider before organization data can be accessed.

If you need to edit or update your provider settings at any time, you will need to disable the provider first. For more information on disabling a provider, see the [disabling SSO](/docs/integrations/sso#disabling-and-removing-sso) section of the SSO overview.

## SAML user attributes

<%= render_markdown partial: 'integrations/sso/saml_user_attributes' %>
