# Buildkite Agent Configuration

Every agent installer comes with a configuration file. You can also customize many of the configuration values using environment variables.

{:toc}

## Example configuration file

```sh
token="24db61df8338027652b24aadf82dd483b016eef98fcd332815"
name="my-app-%spawn"
tags="ci=true,docker=true"
git-clean-flags="-ffdqx"
debug=true
```
{: codeblock-file="/buildkite/buildkite-agent.cfg"}

You can find the location of your configuration file in your platform's installation documentation. You can also set it using the `--config` command line argument or the `BUILDKITE_AGENT_CONFIG` environment variable.

## Configuration settings
<!-- vale off -->
<table class="Docs__attribute__table">
  <colgroup>
    <col>
    <col>
  </colgroup>
  <tbody>
    <tr class="importance required"><th>Required</th></tr>
    <% AGENT_ATTRIBUTES['attributes'].each do |attr| -%>
      <% if attr['required'] %>
        <tr id="<%= attr['name'] %>">
          <th>
            <code><%= attr['name'] %> <a class="Docs__attribute__link" href="#<%= attr['name'] %>">#</a></code>
            <span class="Docs__attribute__importance"><%= attr['required'] ? "Required" : "Optional" -%></span>
            <p class="Docs__attribute__env-var">
              <strong>Environment variable: </strong>
              <br/>
              <code><%= attr['env_var'] %></code>
            </p>
            <p class="Docs__attribute__default">
              <strong>Default value: </strong>
              <%= attr['default_value'] %>
            </p>
          </th>
          <td>
            <%= render_markdown(text: attr['desc']) -%>
          </td>
        </tr>
      <% end -%>
    <% end -%>
    <tr class="importance optional"><th>Optional</th></tr>
    <% AGENT_ATTRIBUTES['attributes'].each do |attr| -%>
      <% if !attr['required'] %>
        <tr id="<%= attr['name'] %>">
          <th>
            <code><%= attr['name'] %> <a class="Docs__attribute__link" href="#<%= attr['name'] %>">#</a></code>
            <span class="Docs__attribute__importance"><%= attr['required'] ? "<strong>Required</strong>" : "Optional" -%></span>
            <p class="Docs__attribute__env-var">
              <strong>Environment variable: </strong>
              <br/>
              <code><%= attr['env_var'] %></code>
            </p>
            <p class="Docs__attribute__default">
              <strong>Default value: </strong>
              <%= attr['default_value'] %>
            </p>
          </th>
          <td>
            <% if attr['experimental'] %>
              <%= render_markdown(text: ">🛠 Experimental feature") -%>
            <% end -%>

            <%= render_markdown(text: attr['desc']) -%>
          </td>
        </tr>
      <% end -%>
    <% end -%>
  </tbody>
</table>
<!-- vale on -->

## Deprecated configuration settings

<table>
  <tbody>
    <tr id="disconnect-after-job-timeout">
      <th><code>disconnect-after-job-timeout</code></th>
      <td>
        When <code>disconnect-after-job</code> is specified, the number of seconds to wait for a job before shutting down.<br> Not to be confused with <a href="/docs/pipelines/command-step#command-step-attributes-build-timeouts">default and maximum build timeouts</a><br>
        <p class="Docs__api-param-eg"><em>Default:</em> <code>120</code></p>
        <p class="Docs__api-param-eg"><em>Environment variable:</em> <code>BUILDKITE_AGENT_DISCONNECT_AFTER_JOB_TIMEOUT</code></p>
      </td>
    </tr>

    <tr id="meta-data">
      <th><code>meta-data</code></th>
      <td>
        Meta data for the agent.
        <p class="Docs__api-param-eg"><em>Default:</em> <code>"queue=default"</code></p>
        <p class="Docs__api-param-eg"><em>Environment variable:</em> <code>BUILDKITE_AGENT_META_DATA</code></p>
        <p class="Docs__api-param-eg"><a href="#tags"><em>Use instead:</em> <code>tags</code></a></p>
      </td>
    </tr>

    <tr id="meta-data-ec2">
      <th><code>meta-data-ec2</code></th>
      <td>
        Include the host's EC2 meta-data (instance-id, instance-type, and ami-id) as meta-data.
        <p class="Docs__api-param-eg"><em>Default:</em> <code>false</code></p>
        <p class="Docs__api-param-eg"><em>Environment variable:</em> <code>BUILDKITE_AGENT_META_DATA_EC2</code></p>
        <p class="Docs__api-param-eg"><a href="#tags-from-ec2"><em>Use instead:</em> <code>tags-from-ec2</code></a></p>
      </td>
    </tr>

    <tr id="meta-data-ec2-tags">
      <th><code>meta-data-ec2-tags</code></th>
      <td>
        Include the host's EC2 tags as meta-data.
        <p class="Docs__api-param-eg"><em>Default:</em> <code>false</code></p>
        <p class="Docs__api-param-eg"><em>Environment variable:</em> <code>BUILDKITE_AGENT_META_DATA_EC2_TAGS</code></p>
        <p class="Docs__api-param-eg"><a href="#tags-from-ec2-tags"><em>Use instead:</em> <code>tags-from-ec2-tags</code></a></p>
      </td>
    </tr>

    <tr id="meta-data-gcp">
      <th><code>meta-data-gcp</code></th>
      <td>
        Include the host's GCP meta-data as meta-data.
        <p class="Docs__api-param-eg"><em>Default:</em> <code>false</code></p>
        <p class="Docs__api-param-eg"><em>Environment variable:</em> <code>BUILDKITE_AGENT_META_DATA_GCP_TAGS</code></p>
        <p class="Docs__api-param-eg"><a href="#tags-from-gcp"><em>Use instead:</em> <code>tags-from-gcp</code></a></p>
      </td>
    </tr>

    <tr id="no-automatic-ssh-fingerprint-verification">
      <th><code>no-automatic-ssh-fingerprint-verification</code></th>
      <td>
        Do not automatically verify SSH fingerprints for first-time checkouts.
        <p class="Docs__api-param-eg"><em>Default:</em> <code>false</code></p>
        <p class="Docs__api-param-eg"><em>Environment variable:</em> <code>BUILDKITE_NO_AUTOMATIC_SSH_FINGERPRINT_VERIFICATION</code></p>
        <p class="Docs__api-param-eg"><a href="#no-ssh-keyscan"><em>Use instead:</em> <code>no-ssh-keyscan</code></a></p>
      </td>
    </tr>
  </tbody>
</table>

## Environment variables

Most configuration options can be specified as environment variables when starting the agent, for example:

```sh
BUILDKITE_AGENT_TAGS="queue=deploy,host=$(hostname)" buildkite-agent start
```

These variables cannot be modified through the Buildkite web interface, API or using pipeline upload for security reasons. You may be able to modify some of the options, such as `BUILDKITE_GIT_CLONE_FLAGS`, from within [hooks](/docs/agent/v3/hooks).
