<% content_for :page_title, @page.title %>
<% content_for :page_description, @page.description %>

<%= @page.body %>

<%= content_for :toc do %>
  <% if @page.metadata[:toc] %>
    <nav class="Toc">
      <button class="Toc__toggle">
        <h2 class="Toc__title">On this page</h2>
      </button>
      <ul class="Toc__list Toc__list--is-collapsed">
        <% @page.sections.each do |section| %>
          <li class="Toc__list-item">
            <a class="Toc__link" href="<%= section[:id] %>">
              <%= section[:header] %>
            </a>

            <% if section[:subsections].count && @page.metadata[:h3s] %>
              <ul class="Toc__list--h3">
                <% section[:subsections].each do |subsection| %>
                  <li class="Toc__list-item">
                    <a class="Toc__link" href="<%= section[:id] %>">
                      <%= subsection[:header] %>
                    </a>
                  </li>
                <% end %>
              </ul>
            <% end %>

          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
<% end %>
