# Amazon EventBridge

The [Amazon EventBridge](https://aws.amazon.com/eventbridge/) notification service in Buildkite lets stream events in real-time from your Buildkite account to your AWS account.

<%= toc %>

## Configuring

From your [Organization’s Notification Settings](https://buildkite.com/organizations/-/services), add an Amazon EventBridge notification service:

<%= image "buildkite-add-eventbridge.png", width: 1458/2, height: 208/2, alt: "Screenshot of Add Buildkite Amazon EventBridge Button" %>

Once you’ve entered your AWS region and AWS Account ID, a Partner Event Source will have been created in your AWS account matching the "Partner Event Source Name" shown on the settings page:

<%= image "buildkite-amazon-eventbridge-settings.png", width: 1458/2, height: 1254/2, alt: "Screenshot of Buildkite Amazon EventBridge Notification Settings" %>

You can then start consuming the events in your AWS account using the two "Partner Event Sources Console" and "Event Rules" links, which take you to the relevant pages in your AWS Console.

## Events

The following events are published to the partner event bus:

<table>
<thead>
  <tr><th>Event</th><th>Description</th></tr>
</thead>
<tbody>
  <tr><th><a href="#events-build-created">Build Created</a></th><td><%= webhook_description "build.created" %></td></tr>
  <tr><th><a href="#events-build-started">Build Started</a></th><td><%= webhook_description "build.started" %></td></tr>
  <tr><th><a href="#events-build-finished">Build Finished</a></th><td><%= webhook_description "build.finished" %></td></tr>
  <tr><th><a href="#events-job-scheduled">Job Scheduled</a></th><td><%= webhook_description "job.scheduled" %></td></tr>
  <tr><th><a href="#events-job-started">Job Started</a></th><td><%= webhook_description "job.started" %></td></tr>
  <tr><th><a href="#events-job-finished">Job Finished</a></th><td><%= webhook_description "job.finished" %></td></tr>
  <tr><th><a href="#events-job-activated">Job Activated</a></th><td><%= webhook_description "job.activated" %></td></tr>
  <tr><th><a href="#events-agent-connected">Agent Connected</a></th><td><%= webhook_description "agent.connected" %></td></tr>
  <tr><th><a href="#events-agent-lost">Agent Lost</a></th><td><%= webhook_description "agent.lost" %></td></tr>
  <tr><th><a href="#events-agent-disconnected">Agent Disconnected</a></th><td><%= webhook_description "agent.disconnected" %></td></tr>
  <tr><th><a href="#events-agent-stopping">Agent Stopping</a></th><td><%= webhook_description "agent.stopping" %></td></tr>
  <tr><th><a href="#events-agent-stopped">Agent Stopped</a></th><td><%= webhook_description "agent.stopped" %></td></tr>
</tbody>
</table>

## Example: Log events via CloudWatch Logs

You can use following [AWS Lambda](https://docs.aws.amazon.com/lambda/latest/dg/welcome.html) as a rule target, to log events to [CloudWatch Logs](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/WhatIsCloudWatchLogs.html):

```js
exports.handler = (event, context, callback) => {
  console.log(event['detail-type'], JSON.stringify(event['detail']));
  callback(null, 'Finished');
};
```

## Example: Track agent wait times via CloudWatch Metrics

You can use following [AWS Lambda](https://docs.aws.amazon.com/lambda/latest/dg/welcome.html) as a rule target, to publish a [CloudWatch metric](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/working_with_metrics.html) which tracks how long jobs are waiting for agents to become available:

```js
const AWS = require("aws-sdk");
const cloudWatch = new AWS.CloudWatch();

exports.handler = (event, context, callback) => {
  if (event["detail-type"] != "Job Started") {
    callback(null, "Finished");
    return;
  }

  const waitTime =
    new Date(event.detail.job.started_at) -
    new Date(event.detail.job.runnable_at);

  console.log(`Job started after waiting ${waitTime} seconds`);

  cloudWatch.putMetricData(
    {
      Namespace: "Buildkite",
      MetricData: [
        {
          MetricName: "Job Agent Wait Time",
          Timestamp: new Date(),
          StorageResolution: 1,
          Unit: "Seconds",
          Value: waitTime,
          Dimensions: [
            {
              Name: "Pipeline",
              Value: event.detail.pipeline.slug
            }
          ]
        }
      ]
    },
    (err, data) => {
      if (err) console.log(err, err.stack);
      callback(null, "Finished");
    }
  );
};
```

## Example Event Payloads

<h3 id="events-build-created">Build Created</h3>

```json
{
  "detail": {
    "version": 1,
    "build": {
      "uuid": "8fcaa7b9-e175-4110-9f48-f79949806a31",
      "graphql_id": "QnVpbGQtLS04ZmNhYTdiOS1lMTc1LTQxMTAtOWY0OC1mNzk5NDk4MDZhMzE=",
      "number": 123456,
      "commit": "5a741616cdf07dc87c5adafe784321eeeb639e33",
      "message": "Merge pull request #456 from my-org/chore/update-deps",
      "branch": "master",
      "state": "scheduled",
      "source": "webhook"
    },
    "pipeline": {
      "uuid": "88d73553-5533-4f56-9c16-fb38d7817d8f",
      "graphql_id": "UGlwZWxpbmUtLS04OGQ3MzU1My01NTMzLTRmNTYtOWMxNi1mYjM4ZDc4MTdkOGY=",
      "slug": "my-pipeline"
    },
    "organization": {
      "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
      "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
      "slug": "my-org"
    }
  }
}
```

<h3 id="events-build-started">Build Started</h3>

```json
{
  "detail": {
    "version": 1,
    "build": {
      "uuid": "8fcaa7b9-e175-4110-9f48-f79949806a31",
      "graphql_id": "QnVpbGQtLS04ZmNhYTdiOS1lMTc1LTQxMTAtOWY0OC1mNzk5NDk4MDZhMzE=",
      "number": 123456,
      "commit": "5a741616cdf07dc87c5adafe784321eeeb639e33",
      "message": "Merge pull request #456 from my-org/chore/update-deps",
      "branch": "master",
      "state": "started",
      "source": "webhook"
    },
    "pipeline": {
      "uuid": "88d73553-5533-4f56-9c16-fb38d7817d8f",
      "graphql_id": "UGlwZWxpbmUtLS04OGQ3MzU1My01NTMzLTRmNTYtOWMxNi1mYjM4ZDc4MTdkOGY=",
      "slug": "my-pipeline"
    },
    "organization": {
      "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
      "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
      "slug": "my-org"
    }
  }
}
```

<h3 id="events-build-finished">Build Finished</h3>

```json
{
  "detail": {
    "version": 1,
    "build": {
      "uuid": "8fcaa7b9-e175-4110-9f48-f79949806a31",
      "graphql_id": "QnVpbGQtLS04ZmNhYTdiOS1lMTc1LTQxMTAtOWY0OC1mNzk5NDk4MDZhMzE=",
      "number": 123456,
      "commit": "5a741616cdf07dc87c5adafe784321eeeb639e33",
      "message": "Merge pull request #456 from my-org/chore/update-deps",
      "branch": "master",
      "state": "passed",
      "source": "webhook"
    },
    "pipeline": {
      "uuid": "88d73553-5533-4f56-9c16-fb38d7817d8f",
      "graphql_id": "UGlwZWxpbmUtLS04OGQ3MzU1My01NTMzLTRmNTYtOWMxNi1mYjM4ZDc4MTdkOGY=",
      "slug": "my-pipeline"
    },
    "organization": {
      "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
      "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
      "slug": "my-org"
    }
  }
}
```

<h3 id="events-job-scheduled">Job Scheduled</h3>

```json
{
  "detail": {
    "version": 1,
    "job": {
      "uuid": "9e6c3f19-4fdb-4e8e-b925-28cd7504e17f",
      "graphql_id": "Sm9iLS0tOWU2YzNmMTktNGZkYi00ZThlLWI5MjUtMjhjZDc1MDRlMTdm",
      "type": "script",
      "label": "\:nodejs\: Test",
      "step_key": "node_test",
      "command": "yarn test",
      "agent_query_rules": [
        "queue=default"
      ],
      "exit_status": null,
      "passed": false,
      "soft_failed": false,
      "state": "assigned",
      "runnable_at": "2019-08-11 06:01:14 UTC",
      "started_at": null,
      "finished_at": null
    },
    "build": {
      "uuid": "8fcaa7b9-e175-4110-9f48-f79949806a31",
      "graphql_id": "QnVpbGQtLS04ZmNhYTdiOS1lMTc1LTQxMTAtOWY0OC1mNzk5NDk4MDZhMzE=",
      "number": 123456,
      "commit": "5a741616cdf07dc87c5adafe784321eeeb639e33",
      "message": "Merge pull request #456 from my-org/chore/update-deps",
      "branch": "master",
      "state": "started",
      "source": "webhook"
    },
    "pipeline": {
      "uuid": "88d73553-5533-4f56-9c16-fb38d7817d8f",
      "graphql_id": "UGlwZWxpbmUtLS04OGQ3MzU1My01NTMzLTRmNTYtOWMxNi1mYjM4ZDc4MTdkOGY=",
      "slug": "my-pipeline"
    },
    "organization": {
      "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
      "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
      "slug": "my-org"
    }
  }
}
```

<h3 id="events-job-started">Job Started</h3>

```json
{
  "detail": {
    "version": 1,
    "job": {
      "uuid": "9e6c3f19-4fdb-4e8e-b925-28cd7504e17f",
      "graphql_id": "Sm9iLS0tOWU2YzNmMTktNGZkYi00ZThlLWI5MjUtMjhjZDc1MDRlMTdm",
      "type": "script",
      "label": "\:nodejs\: Test",
      "step_key": "node_test",
      "command": "yarn test",
      "agent_query_rules": [
        "queue=default"
      ],
      "exit_status": null,
      "passed": false,
      "soft_failed": false,
      "state": "started",
      "runnable_at": "2019-08-11 06:01:14 UTC",
      "started_at": "2019-08-11 06:01:16 UTC",
      "finished_at": null
    },
    "build": {
      "uuid": "8fcaa7b9-e175-4110-9f48-f79949806a31",
      "graphql_id": "QnVpbGQtLS04ZmNhYTdiOS1lMTc1LTQxMTAtOWY0OC1mNzk5NDk4MDZhMzE=",
      "number": 123456,
      "commit": "5a741616cdf07dc87c5adafe784321eeeb639e33",
      "message": "Merge pull request #456 from my-org/chore/update-deps",
      "branch": "master",
      "state": "started",
      "source": "webhook"
    },
    "pipeline": {
      "uuid": "88d73553-5533-4f56-9c16-fb38d7817d8f",
      "graphql_id": "UGlwZWxpbmUtLS04OGQ3MzU1My01NTMzLTRmNTYtOWMxNi1mYjM4ZDc4MTdkOGY=",
      "slug": "my-pipeline"
    },
    "organization": {
      "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
      "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
      "slug": "my-org"
    }
  }
}
```

<h3 id="events-job-finished">Job Finished</h3>

```json
{
  "detail": {
    "version": 1,
    "job": {
      "uuid": "9e6c3f19-4fdb-4e8e-b925-28cd7504e17f",
      "graphql_id": "Sm9iLS0tOWU2YzNmMTktNGZkYi00ZThlLWI5MjUtMjhjZDc1MDRlMTdm",
      "type": "script",
      "label": "\:nodejs\: Test",
      "step_key": "node_test",
      "command": "yarn test",
      "agent_query_rules": [
        "queue=default"
      ],
      "exit_status": 0,
      "passed": true,
      "soft_failed": false,
      "state": "finished",
      "runnable_at": "2019-08-11 06:01:14 UTC",
      "started_at": "2019-08-11 06:01:16 UTC",
      "finished_at": "2019-08-11 06:01:35 UTC"
    },
    "build": {
      "uuid": "8fcaa7b9-e175-4110-9f48-f79949806a31",
      "graphql_id": "QnVpbGQtLS04ZmNhYTdiOS1lMTc1LTQxMTAtOWY0OC1mNzk5NDk4MDZhMzE=",
      "number": 123456,
      "commit": "5a741616cdf07dc87c5adafe784321eeeb639e33",
      "message": "Merge pull request #456 from my-org/chore/update-deps",
      "branch": "master",
      "state": "started",
      "source": "webhook"
    },
    "pipeline": {
      "uuid": "88d73553-5533-4f56-9c16-fb38d7817d8f",
      "graphql_id": "UGlwZWxpbmUtLS04OGQ3MzU1My01NTMzLTRmNTYtOWMxNi1mYjM4ZDc4MTdkOGY=",
      "slug": "my-pipeline"
    },
    "organization": {
      "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
      "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
      "slug": "my-org"
    }
  }
}
```

<h3 id="events-job-activated">Job Activated</h3>

```json
{
  "detail": {
    "version": 1,
    "job": {
      "uuid": "9e6c3f19-4fdb-4e8e-b925-28cd7504e17f",
      "graphql_id": "Sm9iLS0tOWU2YzNmMTktNGZkYi00ZThlLWI5MjUtMjhjZDc1MDRlMTdm",
      "type": "manual",
      "label": "\:rocket\: Deploy",
      "step_key": "manual_deploy",
      "command": null,
      "agent_query_rules": [],
      "exit_status": null,
      "passed": false,
      "soft_failed": false,
      "state": "finished",
      "runnable_at": null,
      "started_at": null,
      "finished_at": null
    },
    "build": {
      "uuid": "8fcaa7b9-e175-4110-9f48-f79949806a31",
      "graphql_id": "QnVpbGQtLS04ZmNhYTdiOS1lMTc1LTQxMTAtOWY0OC1mNzk5NDk4MDZhMzE=",
      "number": 123456,
      "commit": "5a741616cdf07dc87c5adafe784321eeeb639e33",
      "message": "Merge pull request #456 from my-org/chore/update-deps",
      "branch": "master",
      "state": "started",
      "source": "webhook"
    },
    "pipeline": {
      "uuid": "88d73553-5533-4f56-9c16-fb38d7817d8f",
      "graphql_id": "UGlwZWxpbmUtLS04OGQ3MzU1My01NTMzLTRmNTYtOWMxNi1mYjM4ZDc4MTdkOGY=",
      "slug": "my-pipeline"
    },
    "organization": {
      "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
      "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
      "slug": "my-org"
    }
  }
}
```

<h3 id="events-agent-connected">Agent Connected</h3>

```json
{
  "detail": {
    "version": 1,
    "agent": {
      "uuid": "288139c5-728d-4c22-88e3-5a926b6c4a51",
      "graphql_id": "QWdlbnQtLS0yODgxMzljNS03MjhkLTRjMjItODhlMy01YTkyNmI2YzRhNTE=",
      "connection_state": "connected",
      "name": "my-agent-1",
      "version": "3.13.2",
      "ip_address": "3.80.193.183",
      "hostname": "ip-10-0-2-73.ec2.internal",
      "pid": "18534",
      "priority": 0,
      "meta_data": [
        "aws:instance-id=i-0ce2c738afbfc6c83"
      ],
      "connected_at": "2019-08-10 09:44:40 UTC",
      "disconnected_at": null,
      "lost_at": null
    },
    "organization": {
      "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
      "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
      "slug": "my-org"
    }
  }
}
```

<h3 id="events-agent-disconnected">Agent Disconnected</h3>

```json
{
  "version": 1,
  "agent": {
    "uuid": "288139c5-728d-4c22-88e3-5a926b6c4a51",
    "graphql_id": "QWdlbnQtLS0yODgxMzljNS03MjhkLTRjMjItODhlMy01YTkyNmI2YzRhNTE=",
    "connection_state": "disconnected",
    "name": "my-agent-1",
    "version": "3.13.2",
    "ip_address": "3.80.193.183",
    "hostname": "ip-10-0-2-73.ec2.internal",
    "pid": "18534",
    "priority": 0,
    "meta_data": [
      "aws:instance-id=i-0ce2c738afbfc6c83"
    ],
    "connected_at": "2019-08-10 09:44:40 UTC",
    "disconnected_at": "2019-08-10 09:54:40 UTC",
    "lost_at": null
  },
  "organization": {
    "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
    "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
    "slug": "my-org"
  }
}
```

<h3 id="events-agent-lost">Agent Lost</h3>

```json
{
  "version": 1,
  "agent": {
    "uuid": "288139c5-728d-4c22-88e3-5a926b6c4a51",
    "graphql_id": "QWdlbnQtLS0yODgxMzljNS03MjhkLTRjMjItODhlMy01YTkyNmI2YzRhNTE=",
    "connection_state": "lost",
    "name": "my-agent-1",
    "version": "3.13.2",
    "ip_address": "3.80.193.183",
    "hostname": "ip-10-0-2-73.ec2.internal",
    "pid": "18534",
    "priority": 0,
    "meta_data": [
      "aws:instance-id=i-0ce2c738afbfc6c83"
    ],
    "connected_at": "2019-08-10 09:44:40 UTC",
    "disconnected_at": "2019-08-10 09:54:40 UTC",
    "lost_at": "2019-08-10 09:54:40 UTC"
  },
  "organization": {
    "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
    "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
    "slug": "my-org"
  }
}
```

<h3 id="events-agent-stopping">Agent Stopping</h3>

```json
{
  "version": 1,
  "agent": {
    "uuid": "288139c5-728d-4c22-88e3-5a926b6c4a51",
    "graphql_id": "QWdlbnQtLS0yODgxMzljNS03MjhkLTRjMjItODhlMy01YTkyNmI2YzRhNTE=",
    "connection_state": "stopping",
    "name": "my-agent-1",
    "version": "3.13.2",
    "ip_address": "3.80.193.183",
    "hostname": "ip-10-0-2-73.ec2.internal",
    "pid": "18534",
    "priority": 0,
    "meta_data": [
      "aws:instance-id=i-0ce2c738afbfc6c83"
    ],
    "connected_at": "2019-08-10 09:44:40 UTC",
    "disconnected_at": null,
    "lost_at": null
  },
  "organization": {
    "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
    "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
    "slug": "my-org"
  }
}
```

<h3 id="events-agent-stopped">Agent Stopped</h3>

```json
{
  "version": 1,
  "agent": {
    "uuid": "288139c5-728d-4c22-88e3-5a926b6c4a51",
    "graphql_id": "QWdlbnQtLS0yODgxMzljNS03MjhkLTRjMjItODhlMy01YTkyNmI2YzRhNTE=",
    "connection_state": "stopped",
    "name": "my-agent-1",
    "version": "3.13.2",
    "ip_address": "3.80.193.183",
    "hostname": "ip-10-0-2-73.ec2.internal",
    "pid": "18534",
    "priority": 0,
    "meta_data": [
      "aws:instance-id=i-0ce2c738afbfc6c83"
    ],
    "connected_at": "2019-08-10 09:44:40 UTC",
    "disconnected_at": "2019-08-10 09:54:40 UTC",
    "lost_at": null
  },
  "organization": {
    "uuid": "a98961b7-adc1-41aa-8726-cfb2c46e42e0",
    "graphql_id": "T3JnYW5pemF0aW9uLS0tYTk4OTYxYjctYWRjMS00MWFhLTg3MjYtY2ZiMmM0NmU0MmUw",
    "slug": "my-org"
  }
}
```