<meta charset='utf-8'>
<%= tag :link, rel: "dns-prefetch", href: ENV["ASSET_HOST"] if ENV["ASSET_HOST"] %>
<link rel="dns-prefetch" href="//www2.buildkiteassets.com" />
<link rel="preload" as="font" type="font/woff2" href="https://buildkite.com/_site/assets/fonts/Aeonik-Medium.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="https://buildkite.com/_site/assets/fonts/Aeonik-Bold.woff2" crossorigin="anonymous" />

<title><%= [content_for(:page_title), "Buildkite Documentation"].compact.join(" | ") %></title>
<% if description = content_for(:page_description) %>
<meta name="description" content="<%= description %>" />
<% end %>

<%= tag :link, rel: "canonical", href: seo_canonical_url %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= csp_meta_tag %>

<meta name="referrer" content="origin-when-cross-origin" />

<%# Links to pages on the same origin, but outside /docs site shouldn't use Turbo %>
<meta name="turbo-root" content="/docs">

<!-- Favicons and theming -->
<%= tag :link, rel: "icon", href: vite_asset_path("images/favicon.svg"), type: "image/svg+xml" %>
<%= tag :link, rel: "icon", href: vite_asset_path("images/favicon.png"), type: "image/png" %>
<%= tag :link, rel: "apple-touch-icon", href: "/apple-touch-icon.png" %>
<%= tag :meta, property: "theme-color", media:"(prefers-color-scheme: light)", content:"#FFFFFF" %>
<%= tag :meta, property: "theme-color", media:"(prefers-color-scheme: dark)", content:"#020617" %>
<%= tag :link, rel: "manifest", href: "/manifest.json", crossOrigin: "use-credentials" %>

<!-- Twitter Cards Metadata -->
<%= tag :meta, property: "twitter:card", content: content_for(:page_twitter_card) || "summary_large_image" %>
<meta name="twitter:site" content="@Buildkite">

<!-- Open Graph Metadata -->
<%= tag :meta, property: "og:type", content: content_for(:page_og_type) || "website" %>
<%= tag :meta, property: "og:title", content: content_for(:page_og_title) || content_for(:page_title) || "Buildkite"%>
<%= tag :meta, property: "og:description", content: content_for(:page_og_description) || content_for(:page_description) || "Automate your team’s software development processes, from testing through to delivery, no matter the language, environment or toolchain." %>
<%= tag :meta, property: "og:image", content: content_for(:page_image) || "https://buildkite.com#{image_path("opengraph_default.png")}" %>
<% if page_image_alt = content_for(:page_image_alt) %>
  <%= tag :meta, property: "og:image:alt", content: page_image_alt  %>
<% end %>
<meta property="og:site_name" content="Buildkite" />
<meta property="og:locale" content="en_US" />

<%= render 'analytics', application: 'docs', title: "Docs / #{content_for(:page_title)}", logged_in: probably_authenticated? %>

<% if ENV.fetch("ROBOTS_NO_INDEX") { "false" } == "true" || [ "https://badge.buildkite.com", "https://badge.buildbox.io"].include?(request.base_url) %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<%= vite_client_tag %>
<%= vite_javascript_tag 'application' %>
<%= vite_stylesheet_tag 'application.scss' %>

<%= render 'helpscout' %>

<script>
  (function() {
    var theme = localStorage.getItem('theme') || 'system';
    var systemDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    if (theme === 'dark' || (theme === 'system' && systemDark)) {
      document.documentElement.classList.add('dark');
    }
  })();
</script>

<% if ENV.fetch("DD_RUM_ENABLED", false) %>
<script>
  (function(h,o,u,n,d) {
    h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
    d=o.createElement(u);d.async=1;d.src=n
    n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
  })(window,document,'script','https://www.datadoghq-browser-agent.com/us1/v4/datadog-rum.js','DD_RUM')
  window.DD_RUM.onReady(function() {
    window.DD_RUM.init({
      clientToken: 'pubc9a743f98fb0ff68a47484d3672088cf',
      applicationId: 'd8c88382-4a5b-43ec-9069-ba06aac75e7a',
      site: 'datadoghq.com',
      service: 'buildkite-docs',
      env: '<%= ENV.fetch("DD_RUM_ENV", "unknown") %>',
      version: '<%= ENV.fetch("DD_RUM_VERSION", "unknown") %>',
      sessionSampleRate: 100,
      sessionReplaySampleRate: 0,
      trackUserInteractions: false,
      trackResources: true,
      trackLongTasks: true,
      defaultPrivacyLevel: 'mask',
    });

    window.DD_RUM.startSessionReplayRecording();
  })
</script>
<% end %>
