<meta charset='utf-8'>
<%= tag :link, rel: "dns-prefetch", href: ENV["ASSET_HOST"] if ENV["ASSET_HOST"] %>
<link rel="dns-prefetch" href="//www2.buildkiteassets.com" />
<link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/aeonik/Aeonik-Bold-78fff47500f27f2f0d8d777c9d431a87036e566af7577a58ccc0776b4eb4b994.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/maison-neue/MaisonNeueWEB-Book-e597278911055949a05fe1001e37bd61905409344995f03a0fa8a13f442be31b.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/maison-neue/MaisonNeueWEB-Medium-9884c2338b4896f2fd56d7a93ee2150c2855644550ee60a9a9ff2137b6d3b507.woff2" crossorigin="anonymous" />

<title><%= [content_for(:page_title), "Buildkite Documentation"].compact.join(" | ") %></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag "docsearch", "application", media: "all" %>

<%= javascript_include_tag "docsearch", "application", nonce: true %>

<%= csp_meta_tag %>

<meta name="referrer" content="origin-when-cross-origin" />

<%= tag :link, rel: "shortcut icon", href: image_path("favicon.png"), type: "image/x-icon" %>
<%= tag :link, rel: "apple-touch-icon", href: image_path("appicon.png") %>
<%= tag :link, rel: "mask-icon", href: image_path("logo-pinned.svg"), color: "#14CC80" %>

<!-- Twitter Cards Metadata -->
<%= tag :meta, property: "twitter:card", content: content_for(:page_twitter_card) || "summary_large_image" %>
<meta name="twitter:site" content="@Buildkite">

<!-- Open Graph Metadata -->
<%= tag :meta, property: "og:type", content: content_for(:page_og_type) || "website" %>
<%= tag :meta, property: "og:title", content: content_for(:page_og_title) || content_for(:page_title) || "Buildkite"%>
<%= tag :meta, property: "og:description", content: content_for(:page_og_description) || content_for(:page_description) || "Automate your team’s software development processes, from testing through to delivery, no matter the language, environment or toolchain." %>
<%= tag :meta, property: "og:image", content: content_for(:page_image) || image_url("opengraph_default.png").gsub(/^\/\//, 'https://') %>
<% if page_image_alt = content_for(:page_image_alt) %>
  <%= tag :meta, property: "og:image:alt", content: page_image_alt  %>
<% end %>
<meta property="og:site_name" content="Buildkite" />
<meta property="og:locale" content="en_US" />

<%= render 'analytics', application: 'docs', title: "Docs / #{content_for(:page_title)}", logged_in: probably_authenticated? %>

<% if ENV.fetch("ROBOTS_NO_INDEX") { "false" } == "true" %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<%= vite_client_tag %>
<%= vite_javascript_tag 'application' %>

<%= render 'helpscout' %>
