<% nav_level = nav_level + 1 %>
<ul class="
  <%= type == 'dropdown' ? 'Nav__dropdown' : "Nav__section Nav__section--level#{nav_level}" %>
  <%= start_expanded ? 'Nav__section--show' : '' %>">
  <% children.each do |child| %>
    <% if child["type"] == "divider" %>
      <li class="Nav__item">
        <hr class="Nav__divider" />
      </li>
    <% else %>
      <li class="
        Nav__item
        Nav__item--level<%= nav_level %>
        <%= 'Nav__item--has-dropdown' if child['type'] == 'dropdown' %>"
      >
        <%=
          render 'nav_link',
          name: child['name'],
          path: child['path'],
          current: current_nav_item && (current_nav_item[:path] == child['path'] || current_nav_item[:parents].include?(child['name'])),
          nav_level: nav_level,
          new_window: child['new_window'],
          pill: child['pill'],
          is_dropdown: child['is_dropdown'],
          start_expanded: current_nav_item && current_nav_item[:parents].include?(child['name']) || child['start_expanded'],
          type: child['type']
        %>

        <% if child['children'] && nav_level < 6 %>
          <%=
            render 'nav_children',
            children: child['children'],
            current_nav_item: current_nav_item,
            is_dropdown: child['is_dropdown'],
            nav_level: nav_level,
            start_expanded: current_nav_item && current_nav_item[:parents].include?(child['name']) || child['start_expanded'],
            type: child['type']
          %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
