<% if notification_data %>
  <% if notification_data['is_active'] %>
    <%
      title = notification_data['title']
      state = notification_data['state'] || 'info'
      desc  = notification_data['desc']
    %>
    <div
      class="Notification Notification--<%= state %>"
      data-last-updated="<%= notification_data['last_updated'] %>"
      id="Notification"
      role="alert"
    >
      <% if title %>
        <p class="Notification__title"><%= title %></p>
      <% end %>
      <% if desc %>
        <p class="Notification__desc"><%= desc %></p>
      <% end %>
      <button class="Notification__dismiss Notification__dismiss--<%= state %>">
        <span class="OffScreen">Dismiss notification_data</span>
      </button>
    </div>
    <%= javascript_include_tag "notification", nonce: true %>
  <% end %>
<% end %>
