<header class="SiteHeader">
  <div class="SiteHeader__container">
    <div class="SiteHeader__inner">
      <%= render 'brand' %>
      <div class="SiteHeader__search">
        <%= render 'search' %>
      </div>
      <%= render 'menu_toggle' %>
      <div class="SiteHeader__nav">
        <%= render "nav" %>
      </div>
      <div class="SiteHeader__global-links">
        <%= render 'global_links' %>
      </div>
    </div>
  </div>
</header>
