<footer class="Footer">
  <hr />
  <div class="Footer__heading">How helpful was this page?</div>
  <% if render_emojicom? %>
    <div id="emojicom-widget-inline"></div>
  <% end %>
  <p>If you have questions or feedback</p>
  <div class="Footer__links">
    <a class="Button Button--default" href="https://github.com/buildkite/docs/issues">
      <img alt="Icon: issue" class="Button__icon Button__icon--16x16" src="<%= image_url('icons/issue.svg') %>" />
      Open an issue
    </a>
    <a class="Button Button--default" href="<%= open_source_url %>">
      <img alt="Icon: pull request" class="Button__icon Button__icon--16x16" src="<%= image_url('icons/pull-request.svg') %>" />
      Contribute an update
    </a>
  </div>
  <hr />
  <div class="Footer__heading">Need more help?</div>
  <div class="Footer__links Footer__links--has-gaps">
    <% support_email = ("test-analytics".in? request.path) ? "support+analytics@buildkite.com" : "support@buildkite.com" %>
    <a class="Button Button--link" href="mailto:<%= support_email %>">
      <img alt="Icon: paper dart" class="Button__icon Button__icon--16x16" src="<%= image_url('icons/email.svg') %>" />
      Email support
    </a>
    <a class="Button Button--link" href="https://chat.buildkite.community/">
      <img alt="Icon: Slack" class="Button__icon Button__icon--16x16" src="<%= image_url('icons/slack.svg') %>" />
      <% unless "test-analytics".in? request.path %>
        Ask our Slack community
      <% else %>
        Ask our #test-analytics Slack channel
      <% end %>
    </a>
    <a class="Button Button--link" href="https://forum.buildkite.community/">
      <img alt="Icon: Discourse" class="Button__icon Button__icon--16x16" src="<%= image_url('icons/discourse.svg') %>" />
      Post on our forum
    </a>
  </div>
</footer>
