<% icon_image = icon ? image_tag("icons/#{icon}", class: "Nav__icon") : '' %>
<% css_classes_nav_link = "Nav__link Nav__link--level#{nav_level}" %>

<% if path %>
  <a
    class="<%= css_classes_nav_link %> <%= 'Nav__link--current' if current_path == nav_path(path) %>"
    href="<%= nav_path(path) %>"
    <%= new_window && 'target=_blank' %>
  >
    <%= icon_image %>
    <%= name %>
    <% if pill %>
      <span class="Nav__pill pill pill--<%= pill %> pill--small"><%= pill %></span>
    <% end %>
  </a>
<% elsif is_divider %>
  <hr class="Nav__divider" />
<% elsif start_expanded %>
  <span class="<%= css_classes_nav_link %> Nav__link--pre-expand-children">
    <%= icon_image %>
    <%= name %>
    <% if pill %>
      <span class="Nav__pill pill pill--<%= pill %> pill--small"><%= pill %></span>
    <% end %>
  </span>
<% else %>
  <button 
    class="<%= css_classes_nav_link %> <%= is_dropdown ? 'Nav__dropdown-toggle' : 'Nav__toggle' %>"
    data-toggle-nav-level="<%= nav_level %>"
  >
    <%= icon_image %>
    <%= name %>
    <% if pill %>
      <span class="Nav__pill pill pill--<%= pill %> pill--small"><%= pill %></span>
    <% end %>
  </button> 
<% end %>
