<% nav_level = nav_level + 1 %>
<ul class="
  <%= is_dropdown ? 'Nav__dropdown' : "Nav__section Nav__section--level#{nav_level}" %>
  <%= start_expanded ? 'Nav__section--show' : '' %>">
  <% children.each do |child| %>
    <li class="
      Nav__item
      Nav__item--level<%= nav_level %>
      <%= 'Nav__item--has-dropdown' if child['is_dropdown'] %>"
    >
      <%=
        render 'layouts/nav_link',
        name: child['name'],
        path: child['path'],
        icon: child['icon'],
        pill: child['pill'],
        new_window: child['new_window'],
        is_dropdown: child['is_dropdown'],
        is_divider: child['is_divider'],
        start_expanded: child['start_expanded'],
        nav_level: nav_level,
        current_path: current_path
      %>

      <% if child['children'] && nav_level < 5 %>
        <%=
          render 'layouts/nav_children',
          children: child['children'],
          is_dropdown: child['is_dropdown'],
          start_expanded: child['start_expanded'],
          nav_level: nav_level,
          current_path: current_path 
        %>
      <% end %>
    </li>
  <% end %>
</ul>
