<% current_section = request.original_fullpath.split('/')[2] %>
<nav class="Docs__nav">
  <div class="Docs__nav__sections">
    <div class="Docs__nav__section-container <%= "current expanded" if current_section == 'tutorials' %>" data-docs-path="tutorials">
      <p class="Docs__nav__section-heading">Tutorials</p>
      <div class="Docs__nav__section-content">
        <ul class="Docs__nav__sub-nav">
          <%= sidebar_link_to "Getting Started", 'tutorials/getting-started' %>
          <%= sidebar_link_to "Elastic CI Stack for AWS", 'tutorials/elastic-ci-stack-aws' %>
          <%= sidebar_link_to "Docker-Based Builds", 'tutorials/docker-containerized-builds' %>
          <%= sidebar_link_to "Parallelizing Builds", 'tutorials/parallel-builds' %>
          <%= sidebar_link_to "Migrating from Bamboo", 'tutorials/migrating-from-bamboo' %>
          <%= sidebar_link_to "Using Bazel on Buildkite", 'tutorials/bazel' %>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Migrating to YAML Steps", 'tutorials/pipeline-upgrade' %></li>
          <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Two-factor authentication (2FA)", 'tutorials/2fa' %></li>
        </ul>
      </div>
    </div>

    <% current_agent_ver = request.url[%r{agent/v(\d)}, 1] || '3' %>

    <div class="Docs__nav__section-container <%= "current expanded" if current_section == 'agent' && current_agent_ver == '3' %>" data-docs-path="agent-v3">
      <p class="Docs__nav__section-heading">Agent</p>
      <div class="Docs__nav__section-content">
        <ul class="Docs__nav__sub-nav">
          <%= sidebar_link_to "Overview", 'agent/v3' %>
          <%= sidebar_link_to "Installation", 'agent/v3/installation' %>
          <%= sidebar_link_to "Upgrading", 'agent/v3/upgrading' %>
          <%= sidebar_link_to "Configuration", 'agent/v3/configuration' %>
          <%= sidebar_link_to "SSH Keys", 'agent/v3/ssh-keys' %>
          <%= sidebar_link_to "GitHub SSH Keys", 'agent/v3/github-ssh-keys' %>
          <%= sidebar_link_to "Hooks", 'agent/v3/hooks' %>
          <%= sidebar_link_to "Queues", 'agent/v3/queues' %>
          <%= sidebar_link_to "Prioritization", 'agent/v3/prioritization' %>
          <%= sidebar_link_to "Securing", 'agent/v3/securing' %>
          <%= sidebar_link_to "Tokens", 'agent/v3/tokens' %>
        </ul>
        <ul class="Docs__nav__sub-nav deprecated">
          <%= sidebar_link_to "Agent v2 (Deprecated)", 'agent/v2' %>
        </ul>
        <p class="Docs__nav__section-subheading">Elastic CI Stack for AWS</p>
        <ul class="Docs__nav__sub-nav">
          <%= sidebar_link_to "Overview", 'agent/v3/elastic-ci-aws/elastic-ci-stack-overview' %>
          <%= sidebar_link_to "Elastic CI Stack for Linux", 'agent/v3/elastic-ci-aws' %>
          <%= sidebar_link_to "Elastic CI Stack for EC2 Mac", 'agent/v3/elastic-ci-stack-for-ec2-mac/autoscaling-mac-metal' %>
          <%= sidebar_link_to "Customizing Elastic CI Stack", 'agent/v3/elastic-ci-aws/parameters' %>
          <%= sidebar_link_to "CloudFormation Service Role", 'agent/v3/elastic-ci-aws/cloudformation-service-role' %>
          <%= sidebar_link_to "VPC Design for Elastic CI Stack", 'agent/v3/aws/vpc' %>
          <%= sidebar_link_to "Using AWS Secrets Manager", 'agent/v3/aws/secrets-manager' %>
        </ul>
        <p class="Docs__nav__section-subheading">Agent Installers</p>
        <ul class="Docs__nav__sub-nav">
          <%= sidebar_link_to "Ubuntu", 'agent/v3/ubuntu' %>
          <%= sidebar_link_to "Debian", 'agent/v3/debian' %>
          <%= sidebar_link_to "Red Hat/CentOS", 'agent/v3/redhat' %>
          <%= sidebar_link_to "FreeBSD", 'agent/v3/freebsd' %>
          <%= sidebar_link_to "macOS", 'agent/v3/macos' %>
          <%= sidebar_link_to "Windows", 'agent/v3/windows' %>
          <%= sidebar_link_to "Linux", 'agent/v3/linux' %>
          <%= sidebar_link_to "Docker", 'agent/v3/docker' %>
          <%= sidebar_link_to "AWS", 'agent/v3/aws' %>
          <%= sidebar_link_to "Google Cloud", 'agent/v3/gcloud' %>
        </ul>
        <p class="Docs__nav__section-subheading">Command-Line Reference</p>
        <ul class="Docs__nav__sub-nav">
          <%= sidebar_link_to "start", 'agent/v3/cli-start' %>
          <%= sidebar_link_to "annotate", 'agent/v3/cli-annotate' %>
          <%= sidebar_link_to "artifact", 'agent/v3/cli-artifact' %>
          <%= sidebar_link_to "meta-data", 'agent/v3/cli-meta-data' %>
          <%= sidebar_link_to "pipeline", 'agent/v3/cli-pipeline' %>
          <%= sidebar_link_to "bootstrap", 'agent/v3/cli-bootstrap' %>
          <%= sidebar_link_to "step", 'agent/v3/cli-step' %>
        </ul>
      </div>
    </div>

    <div class="Docs__nav__section-container <%= "current expanded" if current_section == 'agent' && current_agent_ver != '3' %>" data-docs-path="agent-v2" >
      <p class="Docs__nav__section-heading">Agent v2 (deprecated)</p>
      <div class="Docs__nav__section-content">
        <div class="Docs__nav__agent_subsection_container <% if current_agent_ver == "2" %>expanded<% end %>" data-agent-version="2">
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'agent/v2' %>
            <%= sidebar_link_to "Installation", 'agent/v2/installation' %>
            <%= sidebar_link_to "Upgrading to v2", 'agent/v2/upgrading-to-v2' %>
            <%= sidebar_link_to "Configuration", 'agent/v2/configuration' %>
            <%= sidebar_link_to "SSH Keys", 'agent/v2/ssh-keys' %>
            <li class="Docs__nav__sub-nav__item--sub"><%= sidebar_link_to "GitHub SSH Keys", 'agent/v2/github-ssh-keys' %>
            <%= sidebar_link_to "Hooks", 'agent/v2/hooks' %>
            <%= sidebar_link_to "Queues", 'agent/v2/queues' %>
            <%= sidebar_link_to "Prioritization", 'agent/v2/prioritization' %>
            <%= sidebar_link_to "Securing", 'agent/v2/securing' %>
          </ul>
          <p class="Docs__nav__section-subheading">Agent Installers</p>
          <ul class="Docs__nav__sub-nav">
            <% AGENT_INSTALLERS.each do |installer| %>
              <%= sidebar_link_to installer[:title], installer[:url] %>
            <% end %>
          </ul>
          <p class="Docs__nav__section-subheading">Command-Line Reference</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "start", 'agent/v2/cli-start' %>
            <%= sidebar_link_to "meta-data", 'agent/v2/cli-meta-data' %>
            <%= sidebar_link_to "artifact", 'agent/v2/cli-artifact' %>
            <%= sidebar_link_to "pipeline", 'agent/v2/cli-pipeline' %>
          </ul>
        </div>
      </div>
    </div>

      <div class="Docs__nav__section-container <%= "current expanded" if current_section == 'pipelines' %>" data-docs-path="pipelines">
        <p class="Docs__nav__section-heading">Pipelines</p>
        <div class="Docs__nav__section-content">
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'pipelines' %>
            <%= sidebar_link_to "Defining Steps", 'pipelines/defining-steps' %>
            <%= sidebar_link_to "Writing Build Scripts", 'pipelines/writing-build-scripts' %>
            <%= sidebar_link_to "Using Conditionals", 'pipelines/conditionals' %>
            <%= sidebar_link_to "Step Dependencies", 'pipelines/dependencies' %>
            <%= sidebar_link_to "Secrets", 'pipelines/secrets' %>
            <%= sidebar_link_to "Environment Variables", 'pipelines/environment-variables' %>
            <%= sidebar_link_to "Skipping builds", 'pipelines/skipping' %>
            <%= sidebar_link_to "Using Build Artifacts", 'pipelines/artifacts' %>
            <%= sidebar_link_to "Using Build Meta-data", 'pipelines/build-meta-data' %>
            <%= sidebar_link_to "Managing Log Output", 'pipelines/managing-log-output' %>
            <%= sidebar_link_to "Links & Images in Log Output", 'pipelines/links-and-images-in-log-output' %>
            <%= sidebar_link_to "Notifications", 'pipelines/notifications' %>
            <%= sidebar_link_to "Example Pipelines", 'pipelines/example-pipelines' %>
            <%= sidebar_link_to "Incoming Webhooks", 'pipelines/incoming-webhooks' %>
          </ul>
          <p class="Docs__nav__section-subheading">Step Types</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Command Step", 'pipelines/command-step' %>
            <%= sidebar_link_to "Wait Step", 'pipelines/wait-step' %>
            <%= sidebar_link_to "Block Step", 'pipelines/block-step' %>
            <%= sidebar_link_to "Input Step", 'pipelines/input-step' %>
            <%= sidebar_link_to "Trigger Step", 'pipelines/trigger-step' %>
            <%= sidebar_link_to "Group Step", 'pipelines/group-step' %>
          </ul>
          <p class="Docs__nav__section-subheading">Workflows</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Prioritizing jobs", 'pipelines/managing-priorities' %>
            <%= sidebar_link_to "Controlling Concurrency", 'pipelines/controlling-concurrency' %>
            <%= sidebar_link_to "Branch Configuration", 'pipelines/branch-configuration' %>
            <%= sidebar_link_to "Scheduled Builds", 'pipelines/scheduled-builds' %>
            <%= sidebar_link_to "Permissions with Teams", 'pipelines/permissions' %>
            <%= sidebar_link_to "Audit Log", 'pipelines/audit-log' %>
          </ul>
        </div>
      </div>

      <div class="Docs__nav__section-container <%= "current expanded" if current_section == 'plugins' %>" data-docs-path="plugins">
        <p class="Docs__nav__section-heading">Plugins</p>
        <div class="Docs__nav__section-content">
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'plugins' %>
            <%= sidebar_link_to "Using Plugins", 'plugins/using' %>
            <%= sidebar_link_to "Plugins Directory", 'plugins/directory' %>
            <%= sidebar_link_to "Plugin Tools", 'plugins/tools' %>
            <%= sidebar_link_to "Writing Plugins", 'plugins/writing' %>
          </ul>
        </div>
      </div>

      <div class="Docs__nav__section-container <%= "current expanded" if current_section == 'deployments' %>" data-docs-path="deployments">
        <p class="Docs__nav__section-heading">Deployments</p>
        <div class="Docs__nav__section-content">
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'deployments' %>
            <%= sidebar_link_to "Deploying to Heroku", 'deployments/deploying-to-heroku' %>
            <%= sidebar_link_to "Deploying to Kubernetes", 'deployments/deploying-to-kubernetes' %>
          </ul>
        </div>
      </div>

      <div class="Docs__nav__section-container <%= "current expanded" if current_section == 'integrations' %>" data-docs-path="integrations">
        <p class="Docs__nav__section-heading">Integrations</p>
        <div class="Docs__nav__section-content">
          <p class="Docs__nav__section-subheading">Source control</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "GitHub", 'integrations/github' %>
            <%= sidebar_link_to "GitHub Enterprise", 'integrations/github-enterprise' %>
            <%= sidebar_link_to "GitLab", 'integrations/gitlab' %>
            <%= sidebar_link_to "Bitbucket", 'integrations/bitbucket' %>
            <%= sidebar_link_to "Bitbucket Server", 'integrations/bitbucket_server' %>
          </ul>
          <p class="Docs__nav__section-subheading">SSO</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'integrations/sso' %>
            <%= sidebar_link_to "Okta", 'integrations/sso/okta' %>
            <%= sidebar_link_to "ADFS", 'integrations/sso/adfs' %>
            <%= sidebar_link_to "Google Workspace", 'integrations/sso/google-workspace' %>
            <%= sidebar_link_to "Google Workspace (SAML)", 'integrations/sso/google-workspace-saml' %>
            <%= sidebar_link_to "GitHub", 'integrations/sso/github-sso' %>
            <%= sidebar_link_to "OneLogin", 'integrations/sso/onelogin' %>
            <%= sidebar_link_to "Azure AD", 'integrations/sso/azure-ad' %>
            <%= sidebar_link_to "Custom SAML", 'integrations/sso/custom-saml' %>
            <%= sidebar_link_to "Setup with GraphQL", 'integrations/sso/sso-setup-with-graphql' %>
          </ul>
          <p class="Docs__nav__section-subheading">Other integrations</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Amazon EventBridge", 'integrations/amazon-eventbridge' %>
            <%= sidebar_link_to "Artifactory", 'integrations/artifactory' %>
            <%= sidebar_link_to "Build Status Badges", 'integrations/build-status-badges' %>
            <%= sidebar_link_to "CCMenu & CCTray", 'integrations/cc-menu' %>
            <%= sidebar_link_to "PagerDuty", 'integrations/pagerduty' %>
            <%= sidebar_link_to "Phabricator", 'integrations/phabricator' %>
            <%= sidebar_link_to "Slack", 'integrations/slack' %>
            </ul>
        </div>
      </div>

      <div class="Docs__nav__section-container <%= "current expanded" if current_section == 'apis' %>" data-docs-path="apis">
        <p class="Docs__nav__section-heading">APIs</p>
        <div class="Docs__nav__section-content">
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Managing API Tokens", 'apis/managing-api-tokens' %>
          </ul>
          <p class="Docs__nav__section-subheading">Webhooks</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'apis/webhooks' %>
            <%= sidebar_link_to "Agent Events", 'apis/webhooks/agent-events' %>
            <%= sidebar_link_to "Build Events", 'apis/webhooks/build-events' %>
            <%= sidebar_link_to "Job Events", 'apis/webhooks/job-events' %>
            <%= sidebar_link_to "Ping Events", 'apis/webhooks/ping-events' %>
            <%= sidebar_link_to "Integrations", 'apis/webhooks/integrations' %>
          </ul>
          <p class="Docs__nav__section-subheading">Buildkite REST API</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'apis/rest-api' %>
            <%= sidebar_link_to "Access Token", 'apis/rest-api/access-token' %>
            <%= sidebar_link_to "Organizations", 'apis/rest-api/organizations' %>
            <%= sidebar_link_to "Pipelines", 'apis/rest-api/pipelines' %>
            <%= sidebar_link_to "Builds", 'apis/rest-api/builds' %>
            <%= sidebar_link_to "Jobs", 'apis/rest-api/jobs' %>
            <%= sidebar_link_to "Agents", 'apis/rest-api/agents' %>
            <%= sidebar_link_to "Artifacts", 'apis/rest-api/artifacts' %>
            <%= sidebar_link_to "Annotations", 'apis/rest-api/annotations' %>
            <%= sidebar_link_to "Emojis", 'apis/rest-api/emojis' %>
            <%= sidebar_link_to "User", 'apis/rest-api/user' %>
            <%= sidebar_link_to "Meta", 'apis/rest-api/meta' %>
          </ul>
          <p class="Docs__nav__section-subheading">Agent REST API</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'apis/agent-api' %>
            <%= sidebar_link_to "Metrics", 'apis/agent-api/metrics' %>
          </ul>
          <p class="Docs__nav__section-subheading">GraphQL API</p>
          <ul class="Docs__nav__sub-nav">
            <%= sidebar_link_to "Overview", 'apis/graphql-api' %>
            <%= sidebar_link_to "Console and CLI tutorial", 'apis/graphql/graphql-tutorial' %>
            <%= sidebar_link_to "Cookbook", 'apis/graphql/graphql-cookbook' %>
          </ul>
        </div>
      </div>

      <% if probably_authenticated? %>
        <%= link_to "Dashboard", dashboard_path, class: "Docs__nav__homebutton" %>
      <% else %>
        <%= link_to "Home", root_path, class: "Docs__nav__homebutton" %>
      <% end %>
  </div>
</nav>

<%= javascript_tag nonce: true do %>
  (function() {
      let paths = window.location.pathname.split("/");
      let currentSectionName = paths[2];
      let agentVersion = paths[3];
      if (currentSectionName == "agent") {
        currentSectionName = `${currentSectionName}-${agentVersion}`
      }

      if (currentSectionName != "agent-v2") {
        let v2section = document.querySelector(`.Docs__nav__section-container[data-docs-path='agent-v2']`);
        v2section.classList.add("hidden");
      }
      
      let sectionHeaders = document.getElementsByClassName('Docs__nav__section-heading');
      for (let sectionHeader of sectionHeaders) {
        sectionHeader.onclick = function() {
          let parent = sectionHeader.parentElement;
          let alreadyExpanded = parent.classList.contains('expanded'); // Track whether section is already expanded, in which case we want to hide it
          let activeContainer = document.querySelector('.Docs__nav__section-container.expanded');
          if (activeContainer && activeContainer !== null) {
            activeContainer.classList.remove('expanded');
          }
          if (!alreadyExpanded) {
            parent.classList.add('expanded');
          }
        }
      };

      // don't auto-expand nav on small screens
      if (window.matchMedia && window.matchMedia('(max-width: 600px)').matches) {
        let expandedSectionContainers = document.querySelectorAll('.Docs__nav__section-container.expanded');
        for (let expandedSectionContainer of expandedSectionContainers) {
          expandedSectionContainer.classList.remove('expanded');
        }
      }      
  })();
<% end %>
