<% use_nav = use_nav || "nav" %>

<header class="SiteHeader">
  <div class="SiteHeader__inner PageContainer">
    <div class="SiteHeader__logo">
      <%= link_to "https://buildkite.com/home", class: "SiteHeader__mark", title: "Go to Buildkite homepage" do %>
        <img alt="Buildkite logo" class="SiteHeader__logo-img" src="<%= logo_image_url %>" />
      <% end %>
      <%= link_to "Buildkite Docs", home_page_path, class: "SiteHeader__docslink", title: "Return to Docs index page" %>
    </div>
    <p class="OffScreen SiteHeader__tagline">Lightning fast testing and delivery for all your software projects.</p>
    <div class="Search">
      <div class="Search-container">
        <input id="search" class="Search__input" placeholder="Search" />
        <kbd class="Search__kbd" title="Press / to search">/</kbd>
      </div>
    </div>
    <p class="OffScreen SiteHeader__skip-nav"><a href="#main">Skip to main content</a></p>
    <div class="SiteHeader__links">
      <% if probably_authenticated? %>
        <%= link_to "Dashboard", dashboard_path, class: "Button Button--primary Button--small" %>
      <% else %>
        <%= link_to "Login", "https://buildkite.com/login", class: "Button Button--default Button--small" %>
        <%= link_to "Sign up for free", "https://buildkite.com/signup", class: "Button Button--primary Button--small" %>
      <% end %>
    </div>
  </div>
  <%= render 'layouts/nav', use_nav: use_nav %>
</header>
