<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body class="<%= beta? ? 'beta' : ''-%>" data-keywords="<%= content_for :keywords %>">
    <%= render "site_header" %>

    <main id="__main" role="main">
      <div class="PageContainer">
        <div class="Page">
          <div class="Page__sidebar">
            <%= render 'sidebar' %>
          </div>
          <% if content_for :toc %>
            <div class="Page__toc">
              <%= yield :toc %>
            </div>
          <% end %>
          <div class="Page__content">
            <%= yield %>
            <%= render "footer" %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
