<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body <%= beta? ? 'class=beta' : ''-%>>
    <%= render "layouts/site_header" %>
    <main id="main" role="main">
      <div class="Docs__page-container StandardWhiteContentPage">
        <div class="Docs__page-container__inner PageContainer">
          <div class="Docs__article<%= is_landing_page? ? ' Docs__article--is-landing-page' : '' %>">
            <div class="column1">
              <%= render "layouts/notification" %>
              <div class="TextContent">
                <%= yield %>
              </div>
              <%= render "layouts/footer", :embed_emojicom => !is_landing_page? %>
            </div>
            <div class="column2"></div>
          </div>
        </div>
      </div>
    </main>
    <%= render "layouts/algolia" %>
    <%= javascript_include_tag "nav", nonce: true %>
  </body>
</html>
