<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <%= tag :link, rel: "dns-prefetch", href: ENV["ASSET_HOST"] if ENV["ASSET_HOST"] %>
    <link rel="dns-prefetch" href="//www2.buildkiteassets.com" />
    <link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/lineto-circular/lineto-circular-book-39c5d1ed54e49102939d0280aeb20f01ef021bf5ffa74dc25fcafb43fce62ff3.woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/lineto-circular/lineto-circular-bold-23e71bdfef13622d0d52b2b4b7ed3c1edb9e81f210692130dee9a521e97d062f.woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/lineto-circular/lineto-circular-black-a8002849ea799a4dcf1be0b1abe0f010991cbae508f24f62e9ee0262590197eb.woff2" crossorigin="anonymous" >

    <title><%= content_for(:page_title) %> | Buildkite Documentation</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "docsearch", "application", media: "all" %>

    <%= javascript_include_tag "docsearch", "application", nonce: true %>

    <%= csp_meta_tag %>

    <meta name="referrer" content="origin-when-cross-origin" />

    <%= tag :link, rel: "shortcut icon", href: image_path("favicon.png"), type: "image/x-icon" %>
    <%= tag :link, rel: "apple-touch-icon", href: image_path("appicon.png") %>
    <%= tag :link, rel: "mask-icon", href: image_path("logo-pinned.svg"), color: "#14CC80" %>

    <!-- Twitter Cards Metadata -->
    <%= tag :meta, property: "twitter:card", content: content_for(:page_twitter_card) || "summary_large_image" %>
    <meta name="twitter:site" content="@Buildkite">

    <!-- Open Graph Metadata -->
    <%= tag :meta, property: "og:type", content: content_for(:page_og_type) || "website" %>
    <%= tag :meta, property: "og:title", content: content_for(:page_og_title) || content_for(:page_title) || "Buildkite"%>
    <%= tag :meta, property: "og:description", content: content_for(:page_og_description) || content_for(:page_description) || "Automate your team’s software development processes, from testing through to delivery, no matter the language, environment or toolchain." %>
    <%= tag :meta, property: "og:image", content: content_for(:page_image) || image_url("opengraph_default.png").gsub(/^\/\//, 'https://') %>
    <% if page_image_alt = content_for(:page_image_alt) %>
      <%= tag :meta, property: "og:image:alt", content: page_image_alt  %>
    <% end %>
    <meta property="og:site_name" content="Buildkite" />
    <meta property="og:locale" content="en_US" />

    <%= render 'layouts/analytics', application: 'docs', title: "Docs / #{content_for(:page_title)}", logged_in: probably_authenticated? %>

    <% if ENV.fetch("ROBOTS_NO_INDEX") { "false" } == "true" %>
      <meta name="robots" content="noindex, nofollow">
    <% end %>
  </head>
  <body <%= beta? ? 'class=beta' : ''-%>>
    <header class="SiteHeader">
      <div class="SiteHeader__inner PageContainer">
        <h1 class="SiteHeader__logo">
          <%= link_to home_page_path, class: 'SiteHeader__docslink' do %>
            <span class="SiteHeader__mark">
              <svg
                  width="<%= local_assigns.fetch(:width) { 42 } %>"
                  height="<%= local_assigns.fetch(:height) { 28 } %>"
                  viewBox="0 0 42 28" xmlns="http://www.w3.org/2000/svg"><title></title><g fill="none" fill-rule="evenodd"><path fill="#30F2A2" d="M0 0l13.965 6.94v13.988L0 13.99M28.042 0l13.854 6.94-13.854 7.05"/><path fill="#14CC80" d="M28.042 0L13.965 6.94v13.988l14.077-6.938M41.896 6.94l-13.854 7.05v13.99l13.854-7.052"/></g></svg>
            </span>
            Buildkite Docs
          <% end %>
        </h1>
        <p class="OffScreen SiteHeader__tagline">Lightning fast testing and delivery for all your software projects.</p>
        <p class="OffScreen SiteHeader__skip-nav"><a href="#main">Skip to main content</a></p>

      </div>
    </header>
    <main id="main" role="main">
      <div class="Docs__page-container StandardWhiteContentPage">
        <div class="Docs__page-container__inner PageContainer">
          <%= render 'layouts/sidebar' %>
          <div class="Docs__article">
            <div class="column1">
              <%= yield %>
              <div class="Docs__note--footer-typo">
                <p>Spotted a typo? Something missing? Please <a href="https://github.com/buildkite/docs/issues">open an issue</a> or <a href="<%= open_source_url %>">contribute an update</a>.</p>
              </div>
            </div>
            <div class="column2"></div>
          </div>
        </div>
      </div>

    </main>
    <%= javascript_tag nonce: true do %>
      /* This api key is intentionally public */
      docsearch({
        apiKey: '<%= algolia_api_key %>',
        indexName: '<%= algolia_index_name %>',
        appId: '<%= algolia_app_id %>',
        inputSelector: '#search'
      });
    <% end %>
  </body>
</html>
