<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body class="<%= beta? ? 'beta' : ''-%>">
    <%= render "site_header" %>

    <main id="main" role="main">
      <div class="PageContainer">
        <div class="Page">
          <div class="Page__sidebar">
            <%= render 'sidebar' %>
          </div>

          <div class="Page__toc">
            <%= yield :toc %>
          </div>

          <div class="Page__content">
            <div class="TextContent">
              <%= yield %>
            </div>
            <%= render "footer", :embed_emojicom => true %>
          </div>
        </div>
      </div>
    </main>

    <%= render "algolia" %>
  </body>
</html>
