<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body class="StandardWhiteContentPage  <%= beta? ? 'beta' : ''-%> ">
    <%= render "site_header" %>

    <main id="main" role="main" class="PageContainer">
      <div class="PageContainer__Sidebar">
        <%= render 'sidebar' %>
      </div>

      <div class="PageContainer__Toc">
        <%= yield :toc %>
      </div>

      <div class="PageContainer__Content">
        <div class="Page">
          <%= yield %>
        </div>
        <%= render "footer", :embed_emojicom => true %>
      </div>
    </main>

    <%= render "algolia" %>
  </body>
</html>
