<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel="dns-prefetch" href="<%= ENV['ASSET_HOST'] %>" />
    <link rel="dns-prefetch" href="//www2.buildkiteassets.com" />
    <link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/lineto-circular/lineto-circular-book-39c5d1ed54e49102939d0280aeb20f01ef021bf5ffa74dc25fcafb43fce62ff3.woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/lineto-circular/lineto-circular-bold-23e71bdfef13622d0d52b2b4b7ed3c1edb9e81f210692130dee9a521e97d062f.woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href="https://www2.buildkiteassets.com/assets/lineto-circular/lineto-circular-black-a8002849ea799a4dcf1be0b1abe0f010991cbae508f24f62e9ee0262590197eb.woff2" crossorigin="anonymous" >

    <title><%= [ @page_title, yield(:page_title), "Buildkite Documentation" ].join(" | ") %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all" %>

    <%# Turbolinks seems to be confused by CSP - it's evaluating the script event visit because it's nonce changes #%>
    <%= javascript_include_tag "application", defer: true, nonce: true, data: { turbolinks_eval: false } %>

    <%= csp_meta_tag %>

    <meta name="referrer" content="origin-when-cross-origin" />

    <link rel="shortcut icon" href="<%= image_path("favicon.png") %>" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<%= image_url('appicon.png') %>" />
    <link rel="mask-icon" href="<%= image_url('logo-pinned.svg') %>" color="#14CC80" />

    <!-- Twitter Cards Metadata -->
    <meta name="twitter:card" content="<%= content_for(:page_twitter_card) || 'summary_large_image' %>">
    <meta name="twitter:site" content="@Buildkite">

    <!-- Open Graph Metadata -->
    <meta property="og:type" content="<%= content_for(:page_og_type) || "website" %>" />
    <meta property="og:title" content="<%= content_for(:page_og_title) || content_for(:page_title) || "Buildkite" %>" />
    <meta property="og:description" content="<%= content_for(:page_description) || "Automate your team’s software development processes, from testing through to delivery, no matter the language, environment or toolchain." %>" />
    <meta property="og:image" content="<%= content_for(:page_image) || image_url("opengraph_default.png").gsub(/^\/\//, 'https://') %>" />
    <% if page_image_alt = content_for(:page_image_alt) %>
      <meta property="og:image:alt" content="<%= page_image_alt %>" />
    <% end %>
    <meta property="og:site_name" content="Buildkite" />
    <meta property="og:locale" content="en_US" />

    <meta name="turbolinks-root" content="<%= docs_path %>" />
  </head>
  <body>
    <header class="SiteHeader">
      <div class="SiteHeader__inner PageContainer">
        <h1>
          <%= link_to docs_path, class: 'SiteHeader__docslink' do %>
            <span class="SiteHeader__mark">
              <svg
                  width="<%= local_assigns.fetch(:width) { 42 } %>"
                  height="<%= local_assigns.fetch(:height) { 28 } %>"
                  viewBox="0 0 42 28" xmlns="http://www.w3.org/2000/svg"><title>Buildkite Mark</title><g fill="none" fill-rule="evenodd"><path fill="#30F2A2" d="M0 0l13.965 6.94v13.988L0 13.99M28.042 0l13.854 6.94-13.854 7.05"/><path fill="#14CC80" d="M28.042 0L13.965 6.94v13.988l14.077-6.938M41.896 6.94l-13.854 7.05v13.99l13.854-7.052"/></g></svg>
            </span>
            Documentation
          <% end %>
        </h1>
        <p class="OffScreen SiteHeader__tagline">Powerful build automation and continous deployment.</p>
        <p class="OffScreen SiteHeader__skip-nav"><a href="#main">Skip to main content</a></p>
      </div>
    </header>
    <main id="main" role="main">
      <div class="StandardTopSection--empty"></div>

      <div class="Docs__page-container StandardWhiteContentPage">
        <div class="Docs__page-container__inner PageContainer">

          <nav class="Docs__nav">
            <% if request.url.include?('/docs/tutorials') %>
              <p class="Docs__nav__section-heading">Tutorials</p>
              <ul class="Docs__nav__sub-nav">
                <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Getting Started", 'tutorials/getting-started' %></li>
                <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Elastic CI Stack for AWS", 'tutorials/elastic-ci-stack-aws' %></li>
                <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Docker-Based Builds", 'tutorials/docker-containerized-builds' %></li>
                <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Parallelizing Builds", 'tutorials/parallel-builds' %></li>
                <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Migrating from Bamboo", 'tutorials/migrating-from-bamboo' %></li>
                <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Deploying to Heroku", 'tutorials/deploying-to-heroku' %></li>
              </ul>
            <% else %>
              <p class="Docs__nav__section-heading Docs__nav__section-heading--link">
              <%= sidebar_link_to "Tutorials", 'tutorials/getting-started', class: 'Link Link--on-white Link--underline Docs__nav__section-heading-link', data: { prefetch: true } %>
              </p>
            <% end %>

            <% if request.url.include?('/docs/agent') %>
              <% current_agent_ver = request.url[%r{agent/v(\d)}, 1] || '2' %>

              <p class="Docs__nav__section-heading">Agent</p>

              <select id="agent-version-selector" class="Docs__nav__version-selector">
                <option value="<%= docs_page_path("agent/v3") %>" <% if current_agent_ver == "3" %>selected<% end %>>Version 3.x (Current)</option>
                <option value="<%= docs_page_path("agent/v2") %>" <% if current_agent_ver == "2" %>selected<% end %>>Version 2.x</option>
              </select>

              <%= javascript_tag nonce: true do %>
                (function() {
                var select = document.getElementById('agent-version-selector');
                select.addEventListener("change", function() {
                var agentVersionDocsURL = select.options[select.selectedIndex].value;

                if (String(window.location.pathname).indexOf(agentVersionDocsURL) == -1) {
                Turbolinks.visit(agentVersionDocsURL);
                }
                });
                })();
              <% end %>

              <% if current_agent_ver == '2' %>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Overview", 'agent/v2' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Installation", 'agent/v2/installation' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Upgrading to v2", 'agent/v2/upgrading-to-v2' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Configuration", 'agent/v2/configuration' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "SSH Keys", 'agent/v2/ssh-keys' %></li>
                  <li class="Docs__nav__sub-nav__item--sub"><%= sidebar_link_to "GitHub SSH Keys", 'agent/v2/github-ssh-keys' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Hooks", 'agent/v2/hooks' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Queues", 'agent/v2/queues' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Prioritization", 'agent/v2/prioritization' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Securing", 'agent/v2/securing' %></li>
                </ul>
                <p class="Docs__nav__section-subheading">Agent Installers</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Ubuntu", 'agent/v2/ubuntu' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Debian", 'agent/v2/debian' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Red Hat/CentOS", 'agent/v2/redhat' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "FreeBSD", 'agent/v2/freebsd' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "macOS", 'agent/v2/osx' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Windows", 'agent/v2/windows' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Linux", 'agent/v2/linux' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Docker", 'agent/v2/docker' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "AWS", 'agent/v2/aws' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Google Cloud", 'agent/v2/gcloud' %></li>
                  <p class="Docs__nav__section-subheading">Command-Line Reference</p>
                  <ul class="Docs__nav__sub-nav">
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "start", 'agent/v2/cli-start' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "meta-data", 'agent/v2/cli-meta-data' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "artifact", 'agent/v2/cli-artifact' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "pipeline", 'agent/v2/cli-pipeline' %></li>
                  </ul>
                <% elsif current_agent_ver == "3" %>
                  <ul class="Docs__nav__sub-nav">
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Overview", 'agent/v3' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Installation", 'agent/v3/installation' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Upgrading", 'agent/v3/upgrading' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Configuration", 'agent/v3/configuration' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "SSH Keys", 'agent/v3/ssh-keys' %></li>
                    <li class="Docs__nav__sub-nav__item--sub"><%= sidebar_link_to "GitHub SSH Keys", 'agent/v3/github-ssh-keys' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Hooks", 'agent/v3/hooks' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Queues", 'agent/v3/queues' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Prioritization", 'agent/v3/prioritization' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Securing", 'agent/v3/securing' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Tokens", 'agent/v3/tokens' %></li>
                  </ul>
                  <p class="Docs__nav__section-subheading">Agent Installers</p>
                  <ul class="Docs__nav__sub-nav">
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Ubuntu", 'agent/v3/ubuntu' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Debian", 'agent/v3/debian' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Red Hat/CentOS", 'agent/v3/redhat' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "FreeBSD", 'agent/v3/freebsd' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "macOS", 'agent/v3/osx' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Windows", 'agent/v3/windows' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Linux", 'agent/v3/linux' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Docker", 'agent/v3/docker' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "AWS", 'agent/v3/aws' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Google Cloud", 'agent/v3/gcloud' %></li>
                  </ul>
                  <p class="Docs__nav__section-subheading">Command-Line Reference</p>
                  <ul class="Docs__nav__sub-nav">
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "start", 'agent/v3/cli-start' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "annotate", 'agent/v3/cli-annotate' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "artifact", 'agent/v3/cli-artifact' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "meta-data", 'agent/v3/cli-meta-data' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "pipeline", 'agent/v3/cli-pipeline' %></li>
                    <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "bootstrap", 'agent/v3/cli-bootstrap' %></li>
                  </ul>
                <% end %>
              <% else %>
                <p class="Docs__nav__section-heading Docs__nav__section-heading--link">
                <%= sidebar_link_to "Agents", 'agent/v3', class: 'Link Link--on-white Link--underline Docs__nav__section-heading-link', data: { prefetch: true } %>
                </p>
              <% end %>

              <% if request.url.include?('/docs/pipelines') %>
                <p class="Docs__nav__section-heading">Pipelines</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Overview", 'pipelines' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Defining Steps", 'pipelines/defining-steps' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Writing Build Scripts", 'pipelines/writing-build-scripts' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Environment Variables", 'pipelines/environment-variables' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Ignoring a Commit", 'pipelines/ignoring-a-commit' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Using Build Artifacts", 'pipelines/artifacts' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Using Build Meta-data", 'pipelines/build-meta-data' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Plugins", 'pipelines/plugins' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Managing Log Output", 'pipelines/managing-log-output' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Links & Images in Log Output", 'pipelines/links-and-images-in-log-output' %></li>
                </ul>
                <p class="Docs__nav__section-subheading">Step Types</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Command Step", 'pipelines/command-step' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Wait Step", 'pipelines/wait-step' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Block Step", 'pipelines/block-step' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Trigger Step", 'pipelines/trigger-step' %></li>
                </ul>
                <p class="Docs__nav__section-subheading">Workflows</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Controlling Concurrency", 'pipelines/controlling-concurrency' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Branch Configuration", 'pipelines/branch-configuration' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Scheduled Builds", 'pipelines/scheduled-builds' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Permissions with Teams", 'pipelines/permissions' %></li>
                </ul>
              <% else %>
                <p class="Docs__nav__section-heading Docs__nav__section-heading--link">
                <%= sidebar_link_to "Pipelines", 'pipelines', class: 'Link Link--on-white Link--underline Docs__nav__section-heading-link', data: { prefetch: true } %>
                </p>
              <% end %>

              <% if request.url.include?('/docs/integrations') %>
                <p class="Docs__nav__section-heading">Integrations</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "GitHub Enterprise", 'integrations/github-enterprise' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "GitLab", 'integrations/gitlab' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Bitbucket", 'integrations/bitbucket' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Build Status Badges", 'integrations/build-status-badges' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "CCMenu & CCTray", 'integrations/cc-menu' %></li>
                </ul>
                <p class="Docs__nav__section-subheading">SSO</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Overview", 'integrations/sso' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "G Suite", 'integrations/sso/google-oauth' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "G Cloud Identity", 'integrations/sso/cloud-identity' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Okta", 'integrations/sso/okta' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "OneLogin", 'integrations/sso/onelogin' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "ADFS", 'integrations/sso/adfs' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Custom SAML", 'integrations/sso/custom-saml' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Setup with GraphQL", 'integrations/sso/sso-setup-with-graphql' %></li>
                </ul>
              <% else %>
                <p class="Docs__nav__section-heading Docs__nav__section-heading--link">
                <%= sidebar_link_to "Integrations", 'integrations', class: 'Link Link--on-white Link--underline Docs__nav__section-heading-link', data: { prefetch: true } %>
                </p>
              <% end %>

              <% if request.url.include?('/docs/apis') %>
                <p class="Docs__nav__section-heading">APIs</p>
                <p class="Docs__nav__section-subheading">Webhooks</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Overview", 'apis/webhooks' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Agent Events", 'apis/webhooks/agent-events' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Build Events", 'apis/webhooks/build-events' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Job Events", 'apis/webhooks/job-events' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Ping Events", 'apis/webhooks/ping-events' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Integrations", 'apis/webhooks/integrations' %></li>
                </ul>
                <p class="Docs__nav__section-subheading">REST API</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Overview", 'apis/rest-api' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Organizations", 'apis/rest-api/organizations' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Pipelines", 'apis/rest-api/pipelines' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Builds", 'apis/rest-api/builds' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Jobs", 'apis/rest-api/jobs' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Agents", 'apis/rest-api/agents' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Artifacts", 'apis/rest-api/artifacts' %></li>
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Emojis", 'apis/rest-api/emojis' %></li>
                </ul>
                <p class="Docs__nav__section-subheading">GraphQL API</p>
                <ul class="Docs__nav__sub-nav">
                  <li class="Docs__nav__sub-nav__item"><%= sidebar_link_to "Overview", 'apis/graphql-api' %></li>
                </ul>
              <% else %>
                <p class="Docs__nav__section-heading Docs__nav__section-heading--link">
                <%= sidebar_link_to "APIs", 'apis', class: 'Link Link--on-white Link--underline Docs__nav__section-heading-link', data: { prefetch: true } %>
                </p>
              <% end %>

              <% if probably_authenticated? %>
                <%= link_to "Dashboard", dashboard_path, class: "Docs__nav__homebutton" %>
              <% else %>
                <%= link_to "Home", root_path, class: "Docs__nav__homebutton" %>
              <% end %>
          </nav>

          <div class="Docs__article">
            <%= yield %>

            <div class="Docs__note--footer-typo">
              <p>Spotted a typo? Something missing? Please <a href="https://github.com/buildkite/docs/issues">open an issue</a> or <a href="<%= open_source_url %>">contribute an update</a>.</p>
            </div>
          </div>

        </div>

    </main>
  </body>
</html>
