<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body <%= beta? ? 'class=beta' : ''-%>>
    <%= render "site_header", nav: graphql_nav %>
    <main id="main" role="main">
      <div class="Docs__page-container StandardWhiteContentPage">
        <div class="Docs__page-container__inner PageContainer">
          <div class="Docs__article">
            <%= yield :toc %>
            <div class="TextContent">
              <%= yield %>
            </div>
            <%= render "footer", :embed_emojicom => true %>
        </div>
      </div>
    </main>
    <%= render "algolia" %>
  </body>
</html>
