<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body>
    <%= render "site_header" %>
    <main id="main" role="main">
      <div class="Home">
        <%= yield %>
        <%= render "footer", :embed_emojicom => false %>
      </div>
    </main>
    <%= render "algolia" %>
  </body>
</html>
