<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body <%= beta? ? 'class=beta' : ''-%>>
    <%= render "home_header" %>
    <main id="main" role="main">
      <%= yield %>
    </main>
    <%= render "algolia" %>
  </body>
</html>
