<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body <%= beta? ? 'class=beta' : ''-%>>
    <%= render "home_header" %>
    <main id="main" role="main">
      <div class="PageContainer">
        <%= yield %>
        <%= render "footer", :embed_emojicom => false %>
      </div>
    </main>
    <%= render "algolia" %>
  </body>
</html>
