<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body <%= beta? ? 'class=beta' : ''-%>>
    <%= render "site_header" %>

    <main id="main" role="main">
      <div class="PageContainer PageContainer--landing StandardWhiteContentPage">
        <div class="PageContainer__Sidebar">
          <%= render 'sidebar' %>
        </div>

        <div class="PageContainer__Content">
          <div class="Page">
            <%= yield %>
          </div>
          <%= render "footer", :embed_emojicom => false %>
        </div>
      </div>
    </main>
    <%= render "algolia" %>
  </body>
</html>
