<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body class="<%= beta? ? 'beta' : ''-%>">
    <%= render "site_header" %>

    <main id="main" role="main">
      <div class="PageContainer">
        <div class="Page Page--landing">
          <div class="Page__sidebar">
            <%= render 'sidebar' %>
          </div>

          <div class="Page__content">
            <article class="Article">
              <%= yield %>
            </article>
            <%= render "footer" %>
          </div>
        </div>
      </div>
    </main>

    <%= render "algolia" %>
  </body>
</html>
