<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body <%= beta? ? 'class=beta' : ''-%>>
    <%= render "site_header" %>

    <main id="main" role="main">
      <div class="PageContainer StandardWhiteContentPage">
        <div class="Page Page--landing">
          <div class="Page__sidebar">
            <%= render 'sidebar' %>
          </div>

          <div class="Page__content">
            <div class="Docs__article TextContent">
              <%= yield %>
            </div>
            <%= render "footer", :embed_emojicom => false %>
          </div>
        </div>
      </div>
    </main>
    <%= render "algolia" %>
  </body>
</html>
